<h1>守山いつき病院　リハビリ管理用紙</h1>

<div class="therapist">
  <%= link_to "療法士", new_therapist_path %>
</div>

<div class="patient">
  <%= link_to "日報入力", "#" %>
</div>

<div class="patient">
  <%= link_to "日報確認", "#" %>
</div>
